---
layout: default
---

<div id="main" role="main">
  <article class="wrap" itemscope itemtype="http://schema.org/Article">
    {% if page.image.feature %}
    <div class="page-feature">
      <div class="page-image">
        <img src="{{ site.baseurl }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
        {% if page.image.credit %}{% include image-credit.html %}{% endif %}
        {% if page.image.caption %}
          <div class="caption">{{page.image.caption}}</div>
        {% endif %}
      </div><!-- /.page-image -->
    </div><!-- /.page-feature -->
    {% endif %}

    {% if page.streetview %}
    <div class="page-feature">
      <div class="page-image">
        <iframe
          class="streetview"
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1433524819970!6m8!1m7!1sFai4BPeEEf2u8Oy5MKOJ0A!2m2!1d47.603738!2d-122.333842!3f59.45128303747483!4f-7.137208394920592!5f1.377436627954035"
            style="width: 100%; height: 300px; border: 0;" frameborder="0">
        </iframe>
      </div>
    </div>
    {% endif %}

    {% if false and page.categories %}{% include breadcrumbs.html %}{% endif %}
    <div class="page-title">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="inner-wrap">
      <nav class="toc"></nav><!-- /.toc -->
      <div id="content" class="page-content" itemprop="articleBody">
        {{ content }}
        <hr />
        <footer class="page-footer">
          {% if page.categories %}{% include page-author.html %}{% endif %}
          {% if page.share != false and site.share == true %}{% include share-this.html %}{% endif %}
          {% include page-meta.html %}
          </footer><!-- /.footer -->
          <aside>
            {% if page.comments == true %}{% include comments.html %}{% endif %}
          </aside>
      </div><!-- /.content -->
    </div><!-- /.inner-wrap -->
    {% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
  </article><!-- ./wrap -->
</div><!-- /#main -->
